.header{color: black; background-color: #f1f1f1;
             padding: 20px; text-align: center;
             }

.footer{color: black; background-color: #f1f1f1; padding: 20px; text-align: center;}


.topnav {overflow: hidden; background-color: black; padding: 50px;}
.topnav a {
  float: left; display: block; color: Red; text-align: center; padding: 14px 16px; text-decoration: none;
}
.topnav a:hover {background-color: #ddd;color: black;}
.fullsize {
  width: 100%;
  height: 100%;
}
.header {
  background-color:LavenderBlush1;
  text-align: center;
  padding: 20px;
} 
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: LavenderBlush4
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color:MistyRose4
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color:LavenderBlush1
  color: black;
}
.footer {
  background-color:Lavender
  text-align: center;
  padding: 10px;
}
.content
{
  float: left;
  padding: 14px;
}
.content.left {
  width: 35%;
}

.content.right {
  width: 70%;
}

.row::after {
  content: "";
  display: table;o
  
